*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {

    flex-direction: column;
    font-family: Arial, sans-serif;
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
header {
    width: 100%;
    height: 88px;
    align-items: center;
    align-content: center;
    position: fixed;
    background:rgba(7, 16, 24, 0.267);
    justify-content: center;  
}
.header-div{
    display: flex;
    border-radius: 27px;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    align-items: center;
    margin: 7px 7px;
    width: 98%;
    padding: 0 80px;
    height: 70px;
    background: rgba(255, 154, 28, 0.1);
    position: fixed;
    top: 0;
    z-index: 10;
}
.header-div img{
    border-radius: 50%;
    height: 58px;
    width: 58px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
nav ul li a {
    margin: 0px 10px;
    color: #d6cdd2;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    
}
.btn {
    background:#FFDF00;
    color: black;
    padding: 14px 24px;
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s;
}
.btn:hover {
    background: #FFDF00;
}
#boody{
    display: block;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 700px;
    background: rgba(255, 153, 28, 0.062);
}
#boody h1{
    background: linear-gradient(90deg, #9b999a, #f6c87a, #FFDF00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for Firefox */
    color: transparent;
    font-size: clamp(3rem, 8vw, 8rem);
    font-weight: 800;
}
#boody p{
    background: linear-gradient(90deg, #d8d3d5, #beb8ae, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* for Firefox */
    color: transparent;
    font-size: clamp(10px, 20px, 20px);
    font-weight: 800;
    width: 700px;
    margin: 0px auto 0px auto;
}

